#
#  Project     Split-Flap YouTube Statistics
#  @author     David Madison
#  @link       github.com/dmadison/splitflap-youtube-stats
#  @license    MIT - Copyright (c) 2021 David Madison
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
#

# Python package dependencies, for pip installation
# (pip install -r requirements.txt)

## Google API Client, for fetching data from the YouTube API
## https://pypi.org/project/google-api-python-client/
google-api-python-client >= 2.14.0

## Python Serial Port Extension, for talking to the split-flap display
## https://pypi.org/project/pyserial/
pyserial >= 3.5

## Humanize, for conversational time conversions
## https://pypi.org/project/humanize/
humanize >= 3.10.0
